html {
  font-family: 'Lato', sans-serif;
  font-size: 14.67;
  color: #666666;
   line-height: 1.5; 
}

strong {
  color: black;
}

h2, h3, h4, h5, h6, h7 {
  font-family: 'Playfair Display', serif;
  color: rgb(247, 93, 93);
  margin: 0;
  line-height: 1.2; 
}

ul, ol {
  padding: 0;
}

li {
  margin-top: 8px;
  list-style-type: none;
}

ul > li {
  position: relative;
  margin-left: 20px;
}

ul > li::before {
  position: absolute;
  left: -20px;
  content: 'â—';
  color: #cccccc;
}

ol {
  counter-reset: list-counter;
}

ol > li {
  position: relative;
  margin-left: 20px;
}

ol > li::before {
  position: absolute;
  left: -20px;
  content: counter(list-counter, decimal);
  counter-increment: list-counter;
  color: #cccccc;
}

