@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:700|Zilla+Slab|Roboto+Slab|Comfortaa');


html {
  font-family: 'Roboto Slab', cursive;
}

@font-face {
  font-family: 'Pier';
  src: url(PierSans-Light.otf);
}

.logo--img {
  height: 100px;
  margin: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 10px;
  
}

.heading {
  text-align: center;
  font-family: 'Roboto Slab';
}

.nav {
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa';
  font-size: 20px;
}

.nav--item {
  display: block;
  padding-left: 45px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.nav--item > a {
  text-decoration: none;
  text-transform: uppercase;
}

.work--header {
  display: flex;
  align-items: center;
}
.summary {
  max-width: 400px;
}

.mallika--img {
  height:200px;
  width: 200px;
  border-radius: 50%;
  padding: 25px;
  padding-left: 50px;
}

.reading--img {
  height: 400px;
  float: right;
  padding-left: 20px;
}

.table--img {
  height: 150px;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 36px;
  font-family: 'Comfortaa', cursive;
  text-align: left;
  font-weight: bold;
}

h2 {
  font-family: 'Comfortaa', cursive;
  padding-bottom: 5px;
}

#greeting {
  text-transform: uppercase;
  text-align: center;
}

div {
/*  border: 1px dashed gray;
*/}

.main {
  max-width: 800px;
  padding: 0 10px;
  margin: auto;
}

.experience {
  margin-bottom: 25px;
  font-family: 'Comfortaa';
}

.experience--header {
  margin-left: 120px;
}

.experience--readMore {
  /*margin-left: 120px;*/
  /*padding-bottom: 50px;*/
}

.experience--title {
  margin: 0;
}
.experience--employmentDetails {
  margin: 0;
}

.experience--details {
  display: flex;
  align-items: center;
}

.experience--img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
}

.about--img {
  width: 800px;
  display: block;
  margin: auto;
  padding-bottom: 50px;
}

.tinted {
  filter: sepia(100%);
}

ul {
  /*padding: 10px;*/
}
/*ul1 {
  background: rgba(0,0,0,0);
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  display: block;
  max-width: 1000px;
  list-style: none;
}
*/
/*li1 {
  display: inline;
  padding: 0px 10px 0px 10px;
}*/
.aboutMe, .experience {
  max-width: 1000px;
  font-family: 'Roboto Slab';
}
@media (max-width: 500px) {
  .experience--header {
    margin: 0;
    text-align: center;
  }
  .experience--details {
    flex-direction: column;
  }
}
